*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    background-color: blueviolet;
    
}
.container{
    width:80vmin;
    padding:50px 30px;
    background-color: whitesmoke;
    position:absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.stats{
    font-size:18px;
    margin-bottom: 30px;
    display:flex;
    justify-content: space-between;
}

#timer{
    text-align:left;
}

#mistakes{
    text-align: right;
}

#qoutes{
    text-align: justify;
    margin:50px 0 30px 0;
}

textarea{
    resize: none;
    width:100%;
    border:none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;
    padding:10px 5px;
    font-size: 16px;
}

.rainbow{
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, hsl(187, 71%, 50%), #43a047, #9ca73b, #f9a825, #ff5722);
    font-weight: 540;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

button{
    float:right;
    margin-top:20px;
    background-color: blueviolet;
    color:#e2d5d5;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    font-size: 17px;
    transition: .3s ease-in-out;
}

button:hover{
    scale: 1.05;
    background-color: rgb(114, 27, 195);
}

.result{
    margin-top:40px;
    display: none;
    align-items: center;
}

.result h3{
    text-align:center;
    margin-bottom:20px;
    font-size:22px;
}

.wrapper{
    display:flex;
    justify-content: space-around;
}

.wrapper span{
    font-weight:600;
}

.success{
    color:#44b267;   
}

.fail{
    color:#e81c4e;
}

#refreshSection{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.refresh{
    float: none;
    padding: 0;
    width:50px;
    height:50px;
    margin: 0 auto;
    border-radius: 50%;
    
}

@keyframes rotate {

    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}

}


.refimg{

    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;

}

@media (max-width:400px){
    .wrapper{
        justify-content: space-between;
    }
}